* {
    margin: 0;
    box-sizing: border-box;
    background-color: #222222;
    font-family: serif;
    color: #F4F1CE;

}
header{
    width: 100%;
    text-align: center;
    padding: 8px;
}
nav ul {
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    background-color: #506485;
    padding: 8px;
    width: 80%;
}

nav li a {
    display: block;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    background-color: #506485;

}

nav li a:hover {
    background-color: #222222;
    filter: grayscale(1);
}

a{
    text-decoration: none;
}
main section {
    padding: 25px;
    border: solid #506485;
    width: 80%;
    display: grid;
    margin: 20px auto;
}
footer{
    width: 100%;
    bottom: 0;
    padding: 1%;
}

div#kodu{
    margin-top: 3rem;
    padding: 2%;
    border: solid;

}
div#kuupaev {
    padding: 2%;
    border: solid;
    width: 20%;
    position: relative;
    margin: auto;
    top: 2rem;

}